<html>
  <head>
    <title>Soal</title>
    <link rel="stylesheet" href="soal.css">
  </head>
  <body>
    <div class="container">
      <h1>Soal 1</h1>
      <div class="soalnya">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nihil distinctio esse quam, omnis placeat similique eos
             repudiandae eaque tenetur earum? Libero quos sequi harum voluptate illo tempore assumenda esse.</p>
      </div>
      <ul>
        <li><a href="">Aku suka makan ayam</a></li>
        <li><a href="">Aku suka makan ayam</a></li>
        <li><a href="">Aku suka makan ayam</a></li>
        <li><a href="">Aku suka makan ayam</a></li>
      </ul>
      <a class="btn" href=""><button>submit</button></a>
    </div>
  </body>
</html>